<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout}">
    <head>
        <title>relay</title>
    </head>
    <body>
        <main class="pages-index-wrapper text-center" layout:fragment="contents">
            <div class="container">
                <div class="row p-form-top d-none d-lg-block d-xl-block d-xxl-block"></div>
				<h1 class="text-white" th:text="#{pages.index.lead.1}">さくら病院 掲示板</h1>
				<h2 class="text-white" th:text="#{pages.index.lead.2}">何かお知らせがあれば、こちらでお伝えします</h2>
                <div class="d-none d-lg-block d-xl-block d-xxl-block">
                    <div class="row justify-content-center">
						<section id="news" class="wrapper">
									<h2 class="sec-title">地域の方へのご案内</h2>
									<dl>
										<dt>2025.XX.XX</dt>
										<dd>○○認定看護師によるセミナー開催「○○○」</dd>
										<dt>2025.XX.XX</dt>
										<dd>○○認定看護師によるセミナー開催「○○○」</dd>
										<dt>2024.XX.XX</dt>
										<dd>【夏祭りのお知らせ】今年も夏祭りを開催します。</dd>
										<dt>2024.XX.XX</dt>
										<dd>学会誌「ＸＸＸＸＸＸ Vol.10』に掲載していただきました。</dd>
									</dl>
						</section>
                    </div>
                </div>
            </div>
        </main>
    </body>
</html>